apiVersion: apps/v1
kind: Deployment
metadata:
  name: technotim-docs
  namespace: default
spec:
  selector:
    matchLabels:
      app: technotim-docs
  replicas: 3
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 1
  template:
    metadata:
      labels:
        app: technotim-docs
      annotations:
        deploy-date: "deploy-date-value"
    spec:
      containers:
        - name: technotim-docs
          image: "registry-value:latest"
          imagePullPolicy: Always
          resources:
            requests:
              memory: 100Mi
              cpu: 100m
          ports:
            - containerPort: 80
              name: http
          startupProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 0
            periodSeconds: 1
            failureThreshold: 30
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 0
            periodSeconds: 5
            failureThreshold: 3
            timeoutSeconds: 2
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 0
            periodSeconds: 15
            failureThreshold: 3
            timeoutSeconds: 2
      imagePullSecrets:
        - name: registry-credentials-limited-access-gitlab
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: technotim-docs
